<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYlxdn_LoaK2CTBWTr0lbIbNP6uC3mZiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1067518819146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.moe.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c9c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c9c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067518819146:ios:85b27732e94e1df9d19fb3</string>
</dict>
</plist>